body {
    background: black;
}

.left-side {
    width: 50%;
    background: linear-gradient(135deg, #74b9e7, #8b7fd4);
    border-radius: 20px;
    padding: 40px;
}

.right-side {
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;

}

.back-tab {
    margin: auto;
    color: white;
    display: flex;
    background-color:#222831;
    border-radius: 20px;
    height: 97vh;
}

.info {
    display: flex;
   justify-content: space-between;
   width: 100%;
}

.container-one {
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.container-two {
    width: 100%;
    display: flex;
     justify-content: center;
}

.container-three {
    display: flex;
      width: 100%;
      justify-content: center;
}

.tab {
    background: #272E37;
    width: 103px;
    height: 165px;
     border-radius: 5px;
}

.white {
    background: white;
}

button {
    width: 30vw;
    padding: 0px 20px;
    margin-top: 40px;
    background: linear-gradient(to right , #90D9E0, #5460E6);
    border-radius: 10px;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    gap: 10px;
}
