.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

body {
    background: black;
    font-family: monospace;
}

.left-side {
    width: 50%;
    background: linear-gradient(135deg, #8aecefce, #535ae6ce) ;
    border-radius: 20px;
    padding: 40px;
    position: relative;
    box-shadow: 1px 1px 30px rgb(0, 0, 0);
}

.left-side::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 97vh;
    background: url("images/beach.jpeg");
    background-size: cover;
    background-position: center;
    opacity: 0.2; /* ← 20% visible */
    border-radius: 20px;
}

#day {
    margin: 10px 0;
}

#date {
    margin: 10px 0;
}

#location {
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    margin:0;
    left: 35px;
}

.down {
    position: absolute;
    bottom: 20px;
}

#temp {
    font-size: 40px;
    margin: 12px 0;
}

#weather {
    margin-top: 0;
}

.right-side {
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.back-tab {
    color: white;
    display: flex;
    background-color: #222831;
    border-radius: 20px;
    height: 97vh;
}

.info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.info-el {
    margin: 10px;
}


.container-one {
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.container-two {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-three {
    display: flex;
    width: 100%;
    justify-content: center;
}

#weekday {
    margin: 0;
    color: white;
}

.tab {
    background: #272E37;
    width: 103px;
    height: 165px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.white {
    background: rgb(172, 169, 169);
    color: black;
}

#cityInput {
    border: 1px solid #74b0b6;
    outline: none;
    font-size: 1rem;
    color: #1a1a1a; /* Dark black text */
    width: 100%;
    font-weight: 500;
    margin-top: 30px;
    padding: 15px 0px;
    text-align: center;
    border-radius: 5px;
    background: #222831;
    color: white;
}

button {
    width: 30vw;
    padding: 0px 20px;
    margin-top: 40px;
    background: linear-gradient(to right, #90D9E0, #5460E6);
    border-radius: 10px;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    gap: 10px;
}

