body {
    background: black;
}

.back-tab {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: end;
    background-color:#222831;
    border-radius: 20px;
    height: 97vh;
}

.info {
    display: flex;
   justify-content: space-between;
}

.container-one {
    padding: 40px;
    width: 40vw;
    margin-bottom: 20px;
}

.container-two {
    width: 40vw;
    display: flex;

}

.tab {
    background: #272E37;
    width: 103px;
    height: 165px;
     bo
}